<div class="txColorMix0">
  <div class="x-item-contents-fullwidth">
  Pushup: Body x 10
	</div>
	<div class="x-item-contents-fullwidth">
	Standing Barbell Shoulder-press: 40lbs x 6
	</div>
	<div  class="x-item-contents-fullwidth">
		Pull-up: Body x 10
  </div>
  <div  class="x-item-contents-fullwidth">
		Pull-up: Body x 10
  </div>
  <div class="x-item-contents-fullwidth">
		Standing Barbell Shoulder-press: 40lbs x 6
	</div>
</div>