<div class="x-panel span2">
	<div class="panel-contents">
		<h4>Stats</h4>
	</div>
</div>

<div class="center main-panel span8">
  <div class="panel-contents">
  	<h4>X-Calendar</h4>
		<div id="cal-heatmap" ></div>
	  <button class="btn" id="domainDynamicDimension-previous">
	  	Previous
	  </button>
	  <button class="glyphicon glyphicon-chevron-left" id="domainDynamicDimension-next">
	  	Next
	  </button>
	</div>

</div>

<div class="x-panel span2">
	<div class="panel-contents">
		Latest workouts...
	</div>
</div>

<div class="x-panel span2">
	LEFT2
</div>