<div class="row">
	<div class="navbar-inner navbar-mini">
		<div class="panel-contents center">
			<span class="center">
				<div class="glyphicon glyphicon-flash">
					55
				</div>
				<div class="glyphicon glyphicon-record">
					20
				</div>
				<div class="glyphicon glyphicon-random">
					80
				</div>
			</span>
		</div>
	</div>
	<div class="x-panel overflow-y col-md-6">
		<%= render 'social' %>
	</div>
	<div class="x-panel col-md-6">
		<%= render 'workouts' %>
	</div>
</div>

<div class="row">
		
		<div class="x-panel single-line slim col-md-1 col-xs-2">
			<div class="panel-contents">
		  	<button class="glyphicon glyphicon-chevron-left jumbo" 
			  				id="domainDynamicDimension-previous">
			  </button>
			</div>
		</div>
		
		<div class="x-panel slim col-md-10 col-xs-8">
	  	<div class="panel-contents">	  
				<div id="cal-heatmap" ></div>
			</div>
		</div>

		<div class="x-panel single-line slim col-md-1 col-xs-2">
			<div class="panel-contents">
		  	<button class="glyphicon glyphicon-chevron-right jumbo"
			  				id="domainDynamicDimension-next">
			  </button>
			</div>
		</div>

</div>