<div class="row">
		<div class="navbar-inner navbar-mini">
			<div class="panel-contents center">
				<span class="center">
					<div class="glyphicon glyphicon-flash">
						55
					</div>
					<div class="glyphicon glyphicon-record">
						20
					</div>
					<div class="glyphicon glyphicon-random">
						80
					</div>
				</span>
			</div>
		</div>
	<div class="x-panel overflow-y col-md-6">
		<div class="panel-contents">
			<div class="achievement-feed">
				<p>
					<span class="glyphicon glyphicon-flash">
					</span>
					<span class="user-name">	Afropo</span>
					<span class="verb">
						 achieved </span> 
					<span class="achievement"> 
						single rep PR
					</span>
					<span class="value"> (225 lbs)</span>
					<span class="exercise"> Bench Press</span>
				</p>
				<p>
					<span class="glyphicon glyphicon-flash">
					</span>
					<span class="user-name">	Afropo</span>
					<span class="verb">
						 achieved </span> 
					<span class="achievement"> 
						single rep PR
					</span>
					<span class="value"> (315 lbs)</span>
					<span class="exercise"> Squat</span>
				</p>
			  <p>
					<span class="glyphicon glyphicon-record">
					</span>
					<span class="user-name">	Deborah</span>
					<span class="verb">
						 achieved </span> 
					<span class="achievement"> 
						consecutive workout days
					</span>
					<span class="value"> (3 days)</span>
					<span class="exercise"></span>
				</p>
			  <p>
					<span class="glyphicon glyphicon-flash">
					</span>
					<span class="user-name">	Afropo</span>
					<span class="verb">
						 achieved </span> 
					<span class="achievement"> 
						single set poundage PR
					</span>
					<span class="value"> (4,500 lbs)</span>
					<span class="exercise"> Squat</span>
				</p>
				<p>
					<span class="glyphicon glyphicon-random">
					</span>
					<span class="user-name">	Dele</span>
					<span class="verb">
						  added </span> 
					<span class="achievement"> 
							pack member
					</span>
					<span class="value"> (Joe)</span>
					<span class="exercise"></span>
				</p>
			  <p>
					<span class="glyphicon glyphicon-random">
					</span>
					<span class="user-name">	Dele</span>
					<span class="verb">
						  liked </span> 
					<span class="achievement"> 
							pack member
					</span>
					<span class="value"> (Rich Froning)</span>
					<span class="exercise"></span>
				</p>
				<p>
					<span class="glyphicon glyphicon-record">
					</span>
					<span class="user-name">	Laku</span>
					<span class="verb">
						 completed </span> 
					<span class="achievement"> 
						5 more workouts
					</span>
					<span class="value"> (25 workouts)</span>
					<span class="exercise"></span>
				</p>
			  <p>
					<span class="glyphicon glyphicon-record">
					</span>
					<span class="user-name">	Laku</span>
					<span class="verb">
						 completed </span> 
					<span class="achievement"> 
						100 workouts
					</span>
					<span class="value"> (100 workouts)</span>
					<span class="exercise"></span>
				</p>
			  <p>
					<span class="glyphicon glyphicon-flash">
					</span>
					<span class="user-name">	Dele</span>
					<span class="verb">
						 achieved </span> 
					<span class="achievement"> 
						single workout poundage PR
					</span>
					<span class="value"> (5,500 lbs)</span>
					<span class="exercise"></span>
				</p>
				<p>
					<span class="glyphicon glyphicon-flash">
					</span>
					<span class="user-name">	Afropo</span>
					<span class="verb">
						 achieved </span> 
					<span class="achievement"> 
						single rep PR
					</span>
					<span class="value"> (225 lbs)</span>
					<span class="exercise"> Bench Press</span>
				</p>
				<p>
					<span class="glyphicon glyphicon-flash">
					</span>
					<span class="user-name">	Afropo</span>
					<span class="verb">
						 achieved </span> 
					<span class="achievement"> 
						single rep PR
					</span>
					<span class="value"> (315 lbs)</span>
					<span class="exercise"> Squat</span>
				</p>
			  <p>
					<span class="glyphicon glyphicon-record">
					</span>
					<span class="user-name">	Deborah</span>
					<span class="verb">
						 achieved </span> 
					<span class="achievement"> 
						consecutive workout days
					</span>
					<span class="value"> (3 days)</span>
					<span class="exercise"></span>
				</p>
			  <p>
					<span class="glyphicon glyphicon-flash">
					</span>
					<span class="user-name">	Afropo</span>
					<span class="verb">
						 achieved </span> 
					<span class="achievement"> 
						single set poundage PR
					</span>
					<span class="value"> (4,500 lbs)</span>
					<span class="exercise"> Squat</span>
				</p>
				<p>
					<span class="glyphicon glyphicon-random">
					</span>
					<span class="user-name">	Dele</span>
					<span class="verb">
						  added </span> 
					<span class="achievement"> 
							pack member
					</span>
					<span class="value"> (Joe)</span>
					<span class="exercise"></span>
				</p>
			</div>
		</div>
	</div>

	<!-- <div class="center x-panel col-md-1">
	  <div class="panel-contents">
		</div>
	</div> -->

	<%= render 'workouts' %>
</div>

<div class="row">
		
		<div class="x-panel single-line slim col-md-1 col-xs-2">
			<div class="panel-contents">
		  	<button class="glyphicon glyphicon-chevron-left jumbo" 
			  				id="domainDynamicDimension-previous">
			  </button>
			</div>
		</div>
		
		<div class="x-panel slim col-md-10 col-xs-8">
	  	<div class="panel-contents">	  
				<div id="cal-heatmap" ></div>
			</div>
		</div>

		<div class="x-panel single-line slim col-md-1 col-xs-2">
			<div class="panel-contents">
		  	<button class="glyphicon glyphicon-chevron-right jumbo"
			  				id="domainDynamicDimension-next">
			  </button>
			</div>
		</div>

</div>