<div class="navbar-inner navbar-mini">
	<div class="panel-contents center">
		<span class="center">
			<div class="glyphicon glyphicon-flash">
				55
			</div>
			<div class="glyphicon glyphicon-record">
				20
			</div>
			<div class="glyphicon glyphicon-random">
				80
			</div>
		</span>
	</div>
</div>
<div id="left-area" class="x-panel overflow-y col-md-6">
	<div class="panel-contents">
		Multi-Viewer		
	</div>
</div>
<div id="right-area" class="x-panel col-md-6">
	<div class="panel-contents">
		Workouts
	</div>
</div>