<div id="left-area" class="x-panel overflow-y col-md-6">
	<div class="panel-contents">
		Multi-Viewer		
	</div>
</div>
<div id="right-area" class="x-panel overflow-y col-md-6">
	<div class="panel-contents">
		Workouts
	</div>
</div>