<!-- <div class = "modal-header">modal test</div> -->
<div class="x-item">
	<div class="x-item-date x-item-contents bgColorCanvasMedium">
		<span class="date">
			<input type="text" name="date" id="datepicker" placeholder = "Date?">
		</span>
	</div>
	<!-- <form id="new_workout" action="/workouts" method="post" autocomplete="true"> -->
		<div class="x-item-contents txColorCanvasMedium">
			<input type="text" name="name" id="name" placeholder = "New Workout">
		</div>
		<span class="pull-right">
			<button class="glyphicon glyphicon-save" id="save-workout">
			</button>
		</span>
		<input type="text" name="date" id="date" placeholder = "Click to enter date">
	<!-- </form> -->
</div>