<div class="x-panel-heading">
	<div class="navbar-inner navbar-micro">
		<div class="panel-contents center">
			<span class="pull-right">
				<button class="glyphicon glyphicon-new-window">
					New
				</button>
			</span>
		</div>
	</div>
</div>
<div class="x-panel-contents  overflow-y">
	<div class="panel-contents">
		<div id="accordion">
		</div>
	</div>
</div>
