<div class="x-panel-heading">
	<div class="navbar-inner navbar-micro">
		<div class="panel-contents center">
			<span class="pull-right">
				<button id="new-workout" class="glyphicon glyphicon-new-window">
					New
				</button>
			</span>
		</div>
	</div>
</div>
<div class="x-panel-contents  overflow-y">
	<div class="panel-contents">
		<div id="effect" >
	  	<div class="x-item">
				<div class="x-item-date x-item-contents bgColorCanvasMedium">
	  			<span class="date">
	  				<input type="text" name="date" id="datepicker" placeholder = "Date?">
	  			</span>
				</div>
	  		<!-- <form id="new_workout" action="/workouts" method="post" autocomplete="true"> -->
					<div class="x-item-contents txColorCanvasMedium">
	  				<input type="text" name="name" id="name" placeholder = "New Workout">
	  			</div>
	  			<span class="pull-right">
						<button class="glyphicon glyphicon-save" id="save-workout">
						</button>
					</span>
					<input type="text" name="date" id="date" placeholder = "server-formatted date">
	  		<!-- </form> -->
  		</div>
	  </div>
		<div id="accordion">
		</div>
	</div>
</div>
