<div class="x-item ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
	<div class="x-item-date x-item-contents bgColorMix0">
		<span class="date">{{ date }}</span>
		<span class="day">{{ day }}</span>
	</div>
	<div class="x-item-contents txColorMix0">
		{{ name }}
	</div>
</div>