<div class="x-item ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
	
	<div class="x-item-date x-item-contents bgColorMix0">
		<span class="date">{{ date }}</span>
		<span class="day">{{ day }}</span>
	</div>
	<div class="x-item-contents txColorMix0">
		{{ name }}
	</div>
	<span class="pull-right">
		<button class="small glyphicon glyphicon-remove" id="delete-workout">
		</button>
	</span>
	<span class="pull-right">
		<button class="small glyphicon glyphicon-edit" id="edit-workout">
		</button>
	</span>

</div>