@import "bootstrap";
@import "bootstrap-glyphicons";
@import "cal-heatmap";

/* Universal */

/*html {
  overflow-y: scroll;
}*/

/*Canvas Colors*/
$canvasMedium: $gray-light;
$canvasHigh: $gray;
$canvasHigher: $gray-dark;

/*Content Colors */
$colorLow: #9CB58D;
$colorHigh: #7AE339;
$colorMedium: mix($colorHigh,$colorLow, 50%);

$colorMix0: $colorLow;
$colorMix25: mix($colorHigh,$colorLow, 25%);
$colorMix50: mix($colorHigh,$colorLow, 50%);
$colorMix75: mix($colorHigh,$colorLow, 75%);
$colorMix100: $colorHigh;

$hmSubDomain: rgba(0,0,0,0);

/* background fill colors */
.bgColorMix0{
	background-color: $colorMix0;
}
.bgColorMix25{
	background-color: $colorMix25;
}
.bgColorMix50{
	background-color: $colorMix50;
}
.bgColorMix75{
	background-color: $colorMix75;
}
.bgColorMix100{
	background-color: $colorMix100;
}

/* text fill colors */
.txColorMix0{
	color: $colorMix0;
}
.txColorMix25{
	color: $colorMix25;
}
.txColorMix50{
	color: $colorMix50;
}
.txColorMix75{
	color: $colorMix75;
}
.txColorMix100{
	color: $colorMix100;
}

.navbar-inner{
	background: linear-gradient(to top, $canvasHigher, $canvasHigh);
	a{
		color: $colorMedium;
		font-weight: bold;
	}
	&.navbar-mini{
	background: linear-gradient(to bottom right, $canvasMedium, $canvasHigher);
	}
}

body {
  padding-top: 60px;
  /*background-color: gray;*/
  background: linear-gradient(to right, $canvasHigher , $canvasHigh 50%, $canvasHigher);
}

.center {
  text-align: center;
}

/*Xtronger Themes*/

.panel-contents{
	padding: 10px;
	color: $colorMedium;
	margin: auto;
  width: 90%;
  overflow-x: hidden;
	h4 {
	display: inline;
	}
}

.x-panel{
	border: solid $canvasHigh 2px;
	height: 400px;
	padding: 0px;
	text-align: center;
	display: block;
	&.single-line{
		line-height: 350px;
	}
	&.overflow-y{
		overflow-y: scroll;
		&::-webkit-scrollbar {
		    width: 12px;
		}
		 
		&::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		    border-radius: 10px;
		}
		 
		&::-webkit-scrollbar-thumb {
		    border-radius: 10px;
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
		}
	}
	&.slim{
		height: 200px;
		&.single-line{
			line-height: 180px;
		}
	}
}

button{
	background: none;
	border: none;
	color: $colorMedium;
	font-size: 10px;
	margin: auto;
	&.jumbo{
		font-size: 60px;
	}
}

.x-item{
	margin: 10px;
	width: 90%;
	padding: 0px 0px;
	font-size: 16px;
	font-weight: normal;
	color: $canvasHigh;
	background-color: $canvasHigher;
	-webkit-border-top-left-radius: 5px;
	border-radius-topleft: 5px;
	overflow: hidden;
}

.x-item-contents{
	float: left;
	display: inline;
}

.x-item-date{
	width: 70px;
	/*background: #ffffff;*/
	margin-right: 3px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;

	border-radius-topleft: 5px;
	border-radius-bottomright: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	.date{
	font-weight: normal;
	font-style: italic;
	font-size: 10px;
	}
	.day{
	font-weight: normal;
	font-size: 14px;
	}
}






/* heatMap */

#cal-heatmap, #cal-heatmap-month{
	.graph-rect{
		fill: $hmSubDomain;
	}
	.q1{
		fill: $colorLow;
	}
	.q2{
		fill: $colorMix25;
	}
	.q3{
		fill: $colorMix50;
	}
	.q4{
		fill: $colorMix75;
	}
	.q5{
		fill: $colorHigh;
	}
}

/* Achievements */

.achievement-feed{
	text-align: left;
}

.user-name{
	font-weight: bold;
	color: $colorLow;
}

.achievement{
	color: $colorLow;
}
