@import "bootstrap";
@import "bootstrap-glyphicons";
@import "cal-heatmap";
@import "jquery-ui";

/* Universal */

/*html {
  overflow-y: scroll;
}*/

/*Canvas Colors*/
$canvasSeeThru00: rgba(0,0,0,0);
$canvasSeeThru01: rgba(0,0,0,0.1);
$canvasMedium: $gray-light;
$canvasHigh: $gray;
$canvasHigher: $gray-dark;

/*Content Colors */
$colorLow: #9CB58D;
$colorHigh: #7AE339;
$colorMedium: mix($colorHigh,$colorLow, 50%);

$colorMix0: $colorLow;
$colorMix25: mix($colorHigh,$colorLow, 25%);
$colorMix50: mix($colorHigh,$colorLow, 50%);
$colorMix75: mix($colorHigh,$colorLow, 75%);
$colorMix100: $colorHigh;

$hmSubDomain: $canvasSeeThru00;

/* background fill colors */
.bgColorMix0{
	background-color: $colorMix0;
}
.bgColorMix25{
	background-color: $colorMix25;
}
.bgColorMix50{
	background-color: $colorMix50;
}
.bgColorMix75{
	background-color: $colorMix75;
}
.bgColorMix100{
	background-color: $colorMix100;
}

/* background neutral fill colors */
.bgColorCanvasMedium{
	background-color: $canvasMedium;
}
.bgColorCanvasHigh{
	background-color: $canvasHigh;
}
.bgColorCanvasHigher{
	background-color: $canvasHigher;
}

/* text positive fill colors */
.txColorMix0{
	color: $colorMix0;
}
.txColorMix25{
	color: $colorMix25;
}
.txColorMix50{
	color: $colorMix50;
}
.txColorMix75{
	color: $colorMix75;
}
.txColorMix100{
	color: $colorMix100;
}

/* text neutral-canvas fill colors */

.txColorCanvasMedium{
	color: $canvasMedium;
}
.txColorCanvasHigh{
	color: $canvasHigh;
}
.txColorCanvasHiger{
	color: $canvasHigher;
}

.navbar-inner{
	background: linear-gradient(to top, $canvasHigher, $canvasHigh);
	a{
		color: $colorMedium;
		font-weight: bold;
	}
	&.navbar-mini{
	background: linear-gradient(to bottom right, $canvasMedium, $canvasHigher);
	}
	&.navbar-micro{
	background: $canvasSeeThru01;
	}
}

body {
  padding-top: 60px;
  /*background-color: gray;*/
  background: linear-gradient(to right, $canvasHigher , $canvasHigh 50%, $canvasHigher);
}

.center {
  text-align: center;
}

.well{
	background-color: $canvasHigher;
	border: 1px solid $canvasHigh;
}

/*Xtronger Themes*/

.panel-contents{
	padding: 10px;
	color: $colorMedium;
	margin: auto;
  width: 90%;
  /*height: inherit;*/
  overflow-x: hidden;
	h4 {
	display: inline;
	}
}

.x-panel{
	border: solid $canvasHigh 2px;
	height: 400px;
	padding: 0px;
	text-align: center;
	display: block;
	overflow-y: hidden;
	&.single-line{
		line-height: 350px;
	}
	&.slim{
		height: 200px;
		&.single-line{
			line-height: 180px;
		}
	}
}

.x-panel-heading{
	height: 40px
}

.x-panel-contents{
	height: 360px
}

.overflow-y{
	overflow-y: scroll;
	&::-webkit-scrollbar {
	    width: 12px;
	}
	 
	&::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    border-radius: 10px;
	}
	 
	&::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
}

button{
	background: none;
	border: none;
	color: $colorMedium;
	font-size: 12px;
	margin: auto;
	&.jumbo{
		font-size: 60px;
	}
	&.small{
		font-size: 8px;
	}
}

.x-item{
	margin: 0px 0px;
	width: 100%;
	padding: 0px 0px;
	font-size: 16px;
	font-weight: normal;
	color: $canvasHigh;
	overflow: hidden;
}

.x-item-contents{                                
	float: left;                  
	display: inline;
}                                          

.x-item-contents-fullwidth{
	@extend .x-item-contents;
	width: 100%;
	text-align: left;
}

.x-item-date{
	width: 70px;
	margin-right: 3px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;

	border-radius-topleft: 5px;
	border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow-x: hidden;
	.date{
	font-weight: normal;
	font-style: italic;
	font-size: 10px;
	}
	.day{
	font-weight: normal;
	font-size: 14px;
	}
}

/*New Workout Input */
#name, #datepicker {
padding: 0px;
border: none;
background: rgba(0, 0, 0, 0.02);
/*z-index: 2;*/
box-shadow: none;
overflow-x: hidden;
color: $canvasMedium;
}

#datepicker{
	width: 70px;
	text-align: center;
	color: $canvasHigher;
	&::-webkit-input-placeholder {
   color: $canvasHigher;
	}
}

/*TODO: DEV ONLY*/
#date{
	@extend #name;
	width: 100%;
	font-size: 10px;
	color: pink;
	&::-webkit-input-placeholder {
   color: pink;
   font-size: 10px;
	}
}
/*TODO: DEV ONLY*/

/* Achievements */

.achievement-feed{
	text-align: left;
}

.user-name{
	font-weight: bold;
	color: $colorLow;
}

.achievement{
	color: $colorLow;
}


/* heatMap */

#cal-heatmap, #cal-heatmap-month{
	.graph-rect{
		fill: $hmSubDomain;
	}
	.q1{
		fill: $colorLow;
	}
	.q2{
		fill: $colorMix25;
	}
	.q3{
		fill: $colorMix50;
	}
	.q4{
		fill: $colorMix75;
	}
	.q5{
		fill: $colorHigh;
	}
}


/*Jquery-ui customizations - Accordion */

.ui-accordion .ui-accordion-header {
display: block;
cursor: pointer;
position: relative;
margin-top: 2px;
/*padding: .2em .2em .2em .2em;*/
padding: 0px;
min-height: 0;
}

.ui-state-default{
	background: $canvasHigher;
	border: none;
	/*padding: 0;*/
}

.ui-state-active{
	background: $canvasHigher;
	border: none;
	/*padding: 0;*/
}

.ui-accordion .ui-accordion-content{
	overflow: hidden;
	border:none;
	margin: 0px;
	padding:5px 5px;
	display: block;
}

.ui-widget-content {
	background: $canvasHigher;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
	font-family: 'Glyphicons Halflings';
}